@use "@/styles/base/functions" as *;

.wrapper {
  position: relative;
  width: 100%;
  contain: paint;

  .inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: max-content;
    gap: #{px-to-vw(30)};
  }
}
