@use "@/styles/base/functions" as *;

.container {
  .content_hero {
    position: relative;
    &_left {
      grid-column: 1/12;
      grid-row: 1;
      &_meta {
      }
      &_tags {
        > div {
          border-radius: 1.25rem;
          padding: 0.5rem 1rem;
          border: 1px solid var(--c-accent-2);
        }
      }
      &_meta,
      &_tags {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
      }
    }
    &_description {
      max-width: #{px-to-vw(650)};
    }
    &_right {
      grid-column: 11/-1;
      grid-row: 1;
      position: relative;
      height: 100%;
      position: relative;
      contain: paint;
      aspect-ratio: 3/4;
      // width: #{px-to-vw(300)};
    }
  }

  .trailer {
    aspect-ratio: 16/9;
    &_inner {
      width: 100%;
      position: relative;
    }
  }

  .description {
    &_image {
      position: relative;
      grid-column: 2/6;
      aspect-ratio: 3/4;
      width: #{px-to-vw(300)};
    }
  }

  .synopsis {
    &_inner {
      max-width: #{px-to-vw(850)};
    }
  }
}
