@use "@/styles/base/functions" as *;

.container {
  .header {
    &_year {
      grid-column: 1/2;
    }
    &_runtime {
      grid-column: 2/4;
    }
    &_tags {
      grid-column: 13/-1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
      > div {
        border-radius: 1.25rem;
        padding: 0.5rem 1rem;
        border: 1px solid var(--c-accent-2);
      }
    }
  }
  .trailer {
    aspect-ratio: 16/9;
    &_inner {
      width: 100%;
      position: relative;
    }
  }

  .description {
    &_image {
      position: relative;
      grid-column: 2/6;
      aspect-ratio: 3/4;
      width: #{px-to-vw(300)};
    }
    &_para {
      grid-column: 8/16;
    }
  }

  .synopsis {
  }
}
