@use "@/styles/base/functions" as *;

.stat_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--c-off-white);

  .title,
  .subtitle {
    text-align: center;
  }

  .title {
    margin-bottom: var(--s-4);
  }
  .subtitle {
    text-transform: capitalize;
  }
}

.image_card {
  --aspect: 3/4;
  position: relative;
  height: 100%;
  .image_wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: var(--aspect);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      transition: all var(--transition);
      &:first-child {
        filter: blur(0px);
        opacity: 1;
      }
    }
    .overlay_title {
      position: absolute;
      overflow: hidden;
      > span {
        transition: all var(--transition);
        display: inline-block;
        transform: translateY(100%);
        color: var(--c-accent-1);
      }
    }
  }
  .title {
    overflow: hidden;
    position: relative;
    > span {
      &:first-child {
        transform: translateY(0%);
      }
      &:nth-child(2) {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transform: translateY(100%);
      }

      font-weight: 600;
      transition: all var(--transition);
      display: block;
      // position: absolute;
    }
  }

  &:hover {
    .image_wrapper {
      img {
        &:first-child {
          transform: scale(1.1);
          filter: blur(9px);
          opacity: 0.9;
        }
      }
      .overlay_title {
        > span {
          transform: translateY(0%);
        }
      }
    }
    .title {
      > span {
        &:first-child {
          transform: translateY(-100%);
        }
        &:nth-child(2) {
          transform: translateY(-100%);
        }
        font-weight: 600;
      }
    }
  }
}

.logo_card {
  position: relative;
  width: #{px-to-vw(150)};
  height: #{px-to-vw(150)};
  background-color: var(--c-off-white);

  > img {
    object-fit: contain;
  }
}
