.container {
  position: relative;

  &_spaced {
    padding-top: calc(2 * var(--my));
  }

  &_light {
    background-color: inherit;
    color: var(--c-off-black);
  }
  &_dark {
    background-color: var(--c-off-black);
    color: var(--c-off-white);
  }
}
