@use "functions" as *;
@use "mixins" as *;

$colors: (
  "background": "#ffffff",
  "off-white": "#F5F1EE",
  "off-black": "#000000",
  "accent-1": "#FEB911",
  "accent-2": "#76ACDF",
);

$spaces: (
  1: 240,
  2: 120,
  3: 60,
  4: 30,
  5: 15,
  6: 7.5,
);

$transition: cubic-bezier(0.23, 1, 0.32, 1) 700ms;

@each $label, $size in $spaces {
  .m-#{$label} {
    margin: #{px-to-vw($size)};
  }
  .mt-#{$label} {
    margin-top: #{px-to-vw($size)};
  }
  .ml-#{$label} {
    margin-left: #{px-to-vw($size)};
  }
  .mr-#{$label} {
    margin-right: #{px-to-vw($size)};
  }
  .mb-#{$label} {
    margin-bottom: #{px-to-vw($size)};
  }
  .mx-#{$label} {
    margin-left: #{px-to-vw($size)};
    margin-right: #{px-to-vw($size)};
  }
  .my-#{$label} {
    margin-bottom: #{px-to-vw($size)};
    margin-top: #{px-to-vw($size)};
  }
  .p-#{$label} {
    padding: #{px-to-vw($size)};
  }
  .pt-#{$label} {
    padding-top: #{px-to-vw($size)};
  }
  .pl-#{$label} {
    padding-left: #{px-to-vw($size)};
  }
  .pr-#{$label} {
    padding-right: #{px-to-vw($size)};
  }
  .pb-#{$label} {
    padding-bottom: #{px-to-vw($size)};
  }
  .px-#{$label} {
    padding-left: #{px-to-vw($size)};
    padding-right: #{px-to-vw($size)};
  }
  .py-#{$label} {
    padding-bottom: #{px-to-vw($size)};
    padding-top: #{px-to-vw($size)};
  }
}

$font-sizes: (
  ("h1", 150, -0.03em, 800, 0.95, "--f-nohemi"),
  ("h2-bold", 100, -0.03em, 800, 1, "--f-nohemi"),
  ("h2", 100, -0.03em, 600, 1, "--f-nohemi"),
  ("h3", 80, -0.03em, 600, 1, "--f-nohemi"),
  ("h3-bold", 80, -0.03em, 800, 1, "--f-nohemi"),
  ("p", 32, -0.03em, 500, "normal", "--f-inter"),
  ("body", 16, 0em, 400, "150%", "--f-inter"),
  ("body-sm", 12, 0em, 400, "120%", "--f-inter")
);

@each $name, $size, $spacing, $weight, $leading, $family in $font-sizes {
  .fs-#{$name} {
    font-size: #{px-to-vw($size)};
    font-weight: #{$weight};
    font-family: var(#{$family});
    letter-spacing: #{$spacing};
    line-height: #{$leading};
  }
}

$cols-desktop: 16;
$cols-mobile: 8;

$col-margin: 60px;
$col-spacing: 20px;

$breakpoint-md: 768px;

.layout {
  @include grid-layout($cols-desktop, $cols-mobile, $col-spacing, $col-margin);
}
.layout--full {
  @include grid-layout(
    $cols-desktop,
    $cols-mobile,
    $col-spacing,
    $col-margin,
    true
  );
}
.row {
  display: flex;
  margin: 0 auto;
  width: var(--viewport-width);
  justify-content: space-between;
}
.vw {
  width: var(--viewport-width);
  margin: 0 auto;
}
:root {
  --h-factor: 1.45;
  --my: #{px-to-vw(strip-unit($col-margin))};
  --viewport-width: calc(100% - #{2 * $col-margin});
  --transition: #{$transition};
  --margin: #{px-to-vw(strip-unit($col-margin))};

  @each $color, $value in $colors {
    --c-#{$color}: #{$value};
  }

  @each $label, $value in $spaces {
    --s-#{$label}: #{px-to-vw($value)};
  }
}
